<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Knv.MGEN230109.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Knv.MGEN230109.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Knv.MGEN230109.Properties.Settings>
            <setting name="AuidoEndpointName" serializeAs="String">
                <value />
            </setting>
            <setting name="AudioDriver" serializeAs="String">
                <value />
            </setting>
            <setting name="SampleRate" serializeAs="String">
                <value />
            </setting>
            <setting name="ChannelName" serializeAs="String">
                <value />
            </setting>
        </Knv.MGEN230109.Properties.Settings>
        <Knv.MGEN230109.Properties.Settings1>
            <setting name="AuidoEndpointName" serializeAs="String">
                <value />
            </setting>
        </Knv.MGEN230109.Properties.Settings1>
    </userSettings>
</configuration>